
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Profile Picture  */
.circular_image {
  width: 400px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
  clip-path: circle();
  margin-bottom: 20px;
}

/* Project Screenshots */
.project_image {
  max-width: 300px;
  max-height: auto;
}

/* Nav Bar  */
.navBg {
  background-color: #DAD7CD;

}
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #588157;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #588157;
}
#mainNav .navbar-nav > li.nav-link,
#mainNav .navbar-nav > li.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: #212529;
}
#mainNav .navbar-nav > li.nav-link:hover,
#mainNav .navbar-nav > li.nav-link:focus:hover {
  color: #588157;
}
#mainNav .navbar-nav > li.nav-link.active,
#mainNav .navbar-nav > li.nav-link:focus.active {
  color: #588157 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    color: #588157;
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  #mainNav .navbar-nav > li.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav .navbar-nav > li.nav-link:hover,
  #mainNav .navbar-nav > li.nav-link:focus:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #588157;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #588157;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-link:focus:hover {
    color: #588157;
  }
}

.project-name {
  color: whitesmoke;
}
/* Portfolio Display Area */
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  /* instead of absolute needs to be relative */
  position: realtive;
  top: 50%;
  width: 100%;
  /* transform: translateY(-50%); */
  text-align: center;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 16px;
  }
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 22px;
  }
}

/* Portfolio */
.margin-top {
  margin-top: 50px;
}

.portfolio-box-caption-content {
  line-height: 2rem;
}
.portfolio-box-caption-content a:hover {
  color: #fff;
  text-decoration: none;
}
.portfolio-box-caption-content i.fab {
  font-size: 2rem;
}

/* Links */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }



